<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>1</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>603708909.65576696</real>
		<key>sheetClusters</key>
		<dict>
			<key>碎笔记.md</key>
			<dict>
				<key>lastModification</key>
				<real>603709002.23158395</real>
				<key>version</key>
				<dict>
					<key>502f869bbbd38e4c2f6e19276ff10fc11a0b9f249258c853de3744f75cd94030</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
		<key>userIconName</key>
		<real>603708914.28473401</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>碎笔记.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Folder</string>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>502f869bbbd38e4c2f6e19276ff10fc11a0b9f249258c853de3744f75cd94030</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>502f869bbbd38e4c2f6e19276ff10fc11a0b9f249258c853de3744f75cd94030</key>
			<integer>4</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>502f869bbbd38e4c2f6e19276ff10fc11a0b9f249258c853de3744f75cd94030</key>
			<integer>8</integer>
		</dict>
	</dict>
</dict>
</plist>
